In [0]:
import pandas as pd
import numpy as np

In [0]:
dt=pd.read_csv('train.csv')

In [3]:
dt.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
dt.shape

(614, 13)

# Categorical Data Analysis

In [0]:
dt['Gender']=dt.Gender.astype(dtype='category').cat.codes

In [0]:
dt['Married']=dt.Married.astype('category').cat.codes

In [0]:
dt['Dependents']=dt.Dependents.astype('category').cat.codes

In [0]:
dt['Education']=dt.Education.astype('category').cat.codes

In [0]:
dt['Self_Employed']=dt.Self_Employed.astype('category').cat.codes

In [0]:
dt['Property_Area']=dt.Property_Area.astype('category').cat.codes

In [0]:
dt['Loan_Status']=dt.Loan_Status.astype('category').cat.codes

In [12]:
dt.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

# Removing unnecessary Features

In [0]:
dt.drop(['Loan_ID'],inplace=True,axis=1)

In [14]:
dt.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [15]:
dt.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [0]:
dt['LoanAmount'].fillna(dt['LoanAmount'].mean(),inplace=True)

In [0]:
dt['Loan_Amount_Term'].fillna(dt['Loan_Amount_Term'].mean(),inplace=True)

In [0]:
dt['Credit_History'].fillna(dt['Credit_History'].mean(),inplace=True)

In [19]:
dt.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [0]:
#dt.fillna(0,inplace=True)

Done with cleaning :)

In [0]:
X=dt[:]
y=X.pop('Loan_Status')

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

((491, 11), (491,))
((123, 11), (123,))

In [32]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
x=0.01
for i in range(50):
    model = XGBClassifier(learning_rate=x)
    x=x+0.01
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    print(x,"Accuracy: %.2f%%" % (accuracy * 100.0))

(0.02, 'Accuracy: 78.86%')
(0.03, 'Accuracy: 78.86%')
(0.04, 'Accuracy: 78.86%')
(0.05, 'Accuracy: 78.86%')
(0.060000000000000005, 'Accuracy: 79.67%')
(0.07, 'Accuracy: 79.67%')
(0.08, 'Accuracy: 79.67%')
(0.09, 'Accuracy: 79.67%')
(0.09999999999999999, 'Accuracy: 79.67%')
(0.10999999999999999, 'Accuracy: 80.49%')
(0.11999999999999998, 'Accuracy: 80.49%')
(0.12999999999999998, 'Accuracy: 81.30%')
(0.13999999999999999, 'Accuracy: 80.49%')
(0.15, 'Accuracy: 81.30%')
(0.16, 'Accuracy: 80.49%')
(0.17, 'Accuracy: 78.86%')
(0.18000000000000002, 'Accuracy: 80.49%')
(0.19000000000000003, 'Accuracy: 80.49%')
(0.20000000000000004, 'Accuracy: 80.49%')
(0.21000000000000005, 'Accuracy: 80.49%')
(0.22000000000000006, 'Accuracy: 80.49%')
(0.23000000000000007, 'Accuracy: 79.67%')
(0.24000000000000007, 'Accuracy: 79.67%')
(0.25000000000000006, 'Accuracy: 80.49%')
(0.26000000000000006, 'Accuracy: 79.67%')
(0.2700000000000001, 'Accuracy: 80.49%')
(0.2800000000000001, 'Accuracy: 79.67%')
(0.2900000000000001, 'Accuracy: 79.67%')
(0.3000000000000001, 'Accuracy: 80.49%')
(0.3100000000000001, 'Accuracy: 78.86%')
(0.3200000000000001, 'Accuracy: 78.05%')
(0.3300000000000001, 'Accuracy: 78.05%')
(0.34000000000000014, 'Accuracy: 78.86%')
(0.35000000000000014, 'Accuracy: 79.67%')
(0.36000000000000015, 'Accuracy: 79.67%')
(0.37000000000000016, 'Accuracy: 81.30%')
(0.38000000000000017, 'Accuracy: 79.67%')
(0.3900000000000002, 'Accuracy: 78.05%')
(0.4000000000000002, 'Accuracy: 78.05%')
(0.4100000000000002, 'Accuracy: 77.24%')
(0.4200000000000002, 'Accuracy: 80.49%')
(0.4300000000000002, 'Accuracy: 78.86%')
(0.4400000000000002, 'Accuracy: 78.05%')
(0.45000000000000023, 'Accuracy: 79.67%')
(0.46000000000000024, 'Accuracy: 76.42%')
(0.47000000000000025, 'Accuracy: 77.24%')
(0.48000000000000026, 'Accuracy: 78.05%')
(0.49000000000000027, 'Accuracy: 78.05%')
(0.5000000000000002, 'Accuracy: 78.86%')
(0.5100000000000002, 'Accuracy: 79.67%')

In [35]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
 
model = XGBClassifier(learning_rate=0.12999999999999998-0.01)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 81.30%

In [0]:
# from sklearn.linear_model import LogisticRegression
# lr=LogisticRegression(random_state=1)
# lr.fit(X_train, y_train)
# y_pred = lr.predict(X_test)
# accuracy = accuracy_score(y_test,y_pred)
# print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [0]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
577,1,0,0,0,0,3229,2739,110,360,1,2
526,1,1,0,0,0,3775,0,110,360,1,1
242,1,0,0,0,0,2965,5701,155,60,1,2
580,1,1,2,0,0,6540,0,205,360,1,1
277,1,1,0,0,0,3103,1300,80,360,1,2

In [0]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
577,1,0,0,0,0,3229,2739,110,360,1,2
526,1,1,0,0,0,3775,0,110,360,1,1
242,1,0,0,0,0,2965,5701,155,60,1,2
580,1,1,2,0,0,6540,0,205,360,1,1
277,1,1,0,0,0,3103,1300,80,360,1,2